body {
  background-color: #198754;
}

a {
  color: #fff;
  text-decoration: none;
  text-underline-position: under;
}

a:hover {
  color: #fff;
  text-decoration: underline;
  text-shadow: 0px 0px 5px #fff;
}

.brand {
  font-size: 1.25rem;
}

.section {
  background-color: #fff;
  border-radius: 15px;
  padding: 2rem 8rem;
  margin: 1rem auto;
}

.cake {
  width: 300px;
}

form {
  text-align: start;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
